{% extends 'base.html' %}

{% block content %}
<div style="width:400px; border: 1px solid black;">

    <h1>welcom home</h1>
    <h2>what is your mission</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt itaque, quasi tenetur consequatur repellat
        accusantium quae sit tempora fuga ipsum, veritatis ad vero id dolorum aspernatur iusto! Illum, quas iusto!
    </p>

</div>

<br>

<div style="width: 400px; border: 1px solid black;">
    <h1>About Table</h1>
    {% for todo in todos %}
    <a class="card-body" href="{% url 'detail' todo.id %}">{{ todo.title }}</a><br>

    <!-- <a href="/detail/{{ todo.id }}">{{todo.title}}</a><br> -->
    <!-- <h3>{{ todo.title }}</h3> -->
    <!-- <small>{{ todo.create }}</small>
            <p>{{ todo.body }}</p> -->
    {% endfor %}
</div>
{% endblock %}


<!-- <form action="">
    <input type="text">
    <input type="password">
    <input type="submit">
</form> -->